@model ERP.Entity.Models.tbl_Mst_Advertise
@{
    ViewBag.Title = "Modify Ad";
}

    <!-- Submit Ad -->
    <div class="submit-ad main-grid-border">
        <div class="container">

            <h2 class="head">Modify Ad</h2>
            <div class="post-ad-form">
                @using (Html.BeginForm("EditAd", "Advertise", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <label>Select Category <span>*</span></label>
                    @Html.DropDownList("fkCategoryId", null, htmlAttributes: new { @class = "form-control" })

                    <div class="clearfix"></div>

                    <label>Select Sub Category <span>*</span></label>
                    @Html.DropDownList("fkSubCategory", null, htmlAttributes: new { @class = "form-control" })

                    <div class="clearfix"></div>
                    <label>Ad Title <span>*</span></label>
                    @Html.EditorFor(model => model.Add_Title)
                    <div class="clearfix"></div>
                    <label>Ad Description <span>*</span></label>
                    @Html.TextAreaFor(model => model.Add_Description)
                    <div class="clearfix"></div>
                    <label>Brand</label>
                    @Html.EditorFor(model => model.Brand)
                    <div class="clearfix"></div>
                    <label>Model</label>
                    @Html.EditorFor(model => model.Model)
                    <div class="clearfix"></div>
                    <label>Year</label>
                    @Html.EditorFor(model => model.Year)
                    <div class="clearfix"></div>
                    <label>Price</label>
                    @Html.EditorFor(model => model.Selling_Price)
                    <div class="clearfix"></div>

                    @Html.HiddenFor(model => model.Geo_Lat)
                    @Html.HiddenFor(model => model.Geo_Long)

                    <label>State</label>
                    @Html.EditorFor(model => model.State)
                    <div class="clearfix"></div>

                    <label>City</label>
                    @Html.EditorFor(model => model.City)
                    <div class="clearfix"></div>


                    <label>Neibhourhood</label>
                    @Html.EditorFor(model => model.Neighbourhood)
                    <div class="clearfix"></div>

                    <label>Ad Status</label>
         
                @Html.DropDownList("IsActive", new List<SelectListItem>
                               {
                                   new SelectListItem{ Text="Active", Value = "1" },
                                   new SelectListItem{ Text="In-Active", Value = "0" }
                                }, new { @class = "form-control" })
              
                   
                    <div class="clearfix"></div>



                    <div class="personal-details">

                        <p class="post-terms">
                            <strong>

                                @Html.HiddenFor(model => model.IsMobileView)
                                <input type="checkbox" id="myCheck" name="myCheck" />
                                do you want to show your mobile in this add
                            </strong>
                        </p>



                        <input type="submit" value="Modify Ad">
                        <div class="clearfix"></div>

                    </div>
                }
            </div>
            <div>
            </div>
        </div>

        <!-- // Submit Ad -->

    </div>


<script type="text/javascript">
    $("#myCheck").click(function () {
        if ($(this).prop("checked") == true) {
  
            $("#IsMobileView").val(1);
        }
        else if ($(this).prop("checked") == false) {
  
            $("#IsMobileView").val(0);
        }
    });
    // A $( document ).ready() block.
    $(document).ready(function () {
 
        if ($("#IsMobileView").val() == 1)
            $("#myCheck").prop("checked", true);
        else 
            $("#myCheck").prop("checked", false);        
    });

 
    $("#fkCategoryId").change(function () {
        $.getJSON("/Advertise/GetSubCat/" + $("#fkCategoryId").val(), function (data) {
            $('#fkSubCategory').empty();
            $.each(data, function (key, val) {
                $('#fkSubCategory')
                    .append($("<option></option>")
                        .attr("value", val.pkId)
                        .text(val.SubCategoryName));
            });
        });
    });
</script>
