
@{
    ViewBag.Title = "UploadPhotos";
}
<!-- Submit Ad -->
<div class="submit-ad main-grid-border">
    <div class="container">
        <h2 class="head">Upload photos for ad: @ViewBag.Ad_Result.Add_Title</h2>
        <div class="row">
            <div class="col-md-12">

                @if (TempData["Success"] != null)
                {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Success</strong>  @TempData["Success"] View this ad <a href="/WebSpace/Advertise/ViewAd/@ViewBag.GUID" target="_blank">here</a>
                </div>
                }
                else if (TempData["Error"] != null)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Error</strong>  @TempData["Error"]
                    </div>

                }

            </div>


        </div>
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" style="margin-bottom: 5px;">
                    <li><a href="~/WebSpace/Advertise/MyAds">Your Ad</a></li>
                    <li><a href="#">Upload Photo</a></li>

                </ol>


            </div>
        </div>

        <div class="post-ad-form">
            @using (Html.BeginForm("UploadPhotos", "Advertise", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <label>Select File:</label>

                <input type="file" name="postedFiles" multiple="multiple" />


                <input type="submit" value="Upload" />
                <div class="clearfix"></div>

            }
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Uploaded file:</label>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Photo</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int index = 1;}
                        @foreach (var item in ViewBag.Result)
                        {
                            <tr>
                                <td>  @index</td>
                                @if (@item.ImagePath != null)
                                {
                                    string imagepath = @item.ImagePath;
                                    imagepath = "../../.." + imagepath.Substring(1);
                                    <td>
                                        <img src="@imagepath" style="height:50px;width:50px;" />
                                    </td>
                                    <td>
                                        <form action="~/WebSpace/Advertise/DeletePhoto/@item.Id" method="post">
                                            <input type="hidden" name="GUID" id="GUID" value="@ViewBag.GUID" />
                                            <input type="submit" value="delete" class="btn btn-link" />
                                        </form>                           
                                        
                                    </td>
                                }
                            </tr>
                            index++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>