<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - ERP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="~/Content/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="~/Content/libs/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="~/Content/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <!-- Bootstrap Css -->
    <link href="~/Content/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/Content/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/Content/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />


    <script src="~/Content/libs/jquery/jquery.min.js"></script>

    <!-- DataTables -->
    <link href="~/Content/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="~/Content/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />



    <script type="text/javascript">
        function imgError(image) {
            image.onerror = "";
            image.src = "../../Uploads/MerchantImages/noimage.jpg";
            return true;
        }
    </script>

</head>
<body data-topbar="dark" data-layout="horizontal">
    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="~/Dashboard/Index" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="~/Content/images/logo.svg" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="~/Content/images/logo-dark.png" alt="" height="17">
                            </span>
                        </a>
                        <a href="~/Dashboard/Index" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="~/Content/images/logo-light.svg" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="~/Content/images/logo-light.png" alt="" height="19">
                            </span>
                        </a>
                    </div>
                    <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light" data-toggle="collapse" data-target="#topnav-menu-content">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>


                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="d-flex">

                        <div class="dropdown d-none d-lg-inline-block ml-1">
                            @{ using (ERP.Entity.Models.ERPDbEntities db = new ERP.Entity.Models.ERPDbEntities())
                                {
                                    int Id = Convert.ToInt32(User.Identity.Name);

                                    var collection = db.tbl_MstMerchantsRoleXref.Where(x => x.fkMerchantId == Id && x.IsActive == 1).ToList();
                                    <select class="btn header-item noti-icon waves-effect">
                                        @foreach (var item in collection)
                                        {
                                            <option value="@item.tbl_MstRoles.pkId">@item.tbl_MstRoles.RoleName</option>
                                        }
                                    </select>
                                }

                            }

                        </div>
                        <div class="dropdown d-none d-lg-inline-block ml-1">
                            <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                                <i class="bx bx-fullscreen"></i>
                            </button>
                        </div>
                        @*Notification*@
                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bx bx-bell bx-tada"></i>
                                <span class="badge badge-danger badge-pill">3</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                                 aria-labelledby="page-header-notifications-dropdown">
                                <div class="p-3">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="m-0"> Notifications </h6>
                                        </div>
                                        <div class="col-auto">
                                            <a href="#!" class="small"> View All</a>
                                        </div>
                                    </div>
                                </div>
                                <div data-simplebar style="max-height: 230px;">
                                    <a href="#" class="text-reset notification-item">
                                        <div class="media">
                                            <div class="avatar-xs mr-3">
                                                <span class="avatar-title bg-primary rounded-circle font-size-16">
                                                    <i class="bx bx-cart"></i>
                                                </span>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="mt-0 mb-1">Your order is placed</h6>
                                                <div class="font-size-12 text-muted">
                                                    <p class="mb-1">If several languages coalesce the grammar</p>
                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="text-reset notification-item">
                                        <div class="media">
                                            <img src="~/Content/images/users/avatar-3.jpg"
                                                 class="mr-3 rounded-circle avatar-xs" alt="user-pic">
                                            <div class="media-body">
                                                <h6 class="mt-0 mb-1">James Lemire</h6>
                                                <div class="font-size-12 text-muted">
                                                    <p class="mb-1">It will seem like simplified English.</p>
                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="text-reset notification-item">
                                        <div class="media">
                                            <div class="avatar-xs mr-3">
                                                <span class="avatar-title bg-success rounded-circle font-size-16">
                                                    <i class="bx bx-badge-check"></i>
                                                </span>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="mt-0 mb-1">Your item is shipped</h6>
                                                <div class="font-size-12 text-muted">
                                                    <p class="mb-1">If several languages coalesce the grammar</p>
                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="text-reset notification-item">
                                        <div class="media">
                                            <img src="~/Content/images/users/avatar-4.jpg"
                                                 class="mr-3 rounded-circle avatar-xs" alt="user-pic">
                                            <div class="media-body">
                                                <h6 class="mt-0 mb-1">Salena Layfield</h6>
                                                <div class="font-size-12 text-muted">
                                                    <p class="mb-1">As a skeptical Cambridge friend of mine occidental.</p>
                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="p-2 border-top">
                                    <a class="btn btn-sm btn-link font-size-14 btn-block text-center" href="javascript:void(0)">
                                        <i class="mdi mdi-arrow-right-circle mr-1"></i> View More..
                                    </a>
                                </div>
                            </div>
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            using (ERP.Entity.Models.ERPDbEntities db = new ERP.Entity.Models.ERPDbEntities())
                            {
                                int Id = Convert.ToInt32(User.Identity.Name);

                                var tbl_MstMerchant = db.tbl_MstMerchants.Where(x => x.pkMerchantId == Id).FirstOrDefault();


                                <div class="dropdown d-inline-block">
                                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                        @if (@tbl_MstMerchant.MerchantImage != null)
                                        {
                                            string imagepath = @tbl_MstMerchant.MerchantImage;
                                            imagepath = "../.." + imagepath.Substring(1);
                                            <img class="rounded-circle header-profile-user" onerror="imgError(this);" src="@imagepath"
                                                 alt="Header Avatar">
                                        }
                                        else
                                        {
                                            <img class="rounded-circle header-profile-user" onerror="imgError(this);" src="@tbl_MstMerchant.MerchantImage"
                                                 alt="Header Avatar">
                                        }

                                        <span class="d-none d-xl-inline-block ml-1">Welcome... @tbl_MstMerchant.FirstName</span>
                                        <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <!-- item-->
                                        <a class="dropdown-item" href="~/Account/MyAccount"><i class="bx bx-user font-size-16 align-middle mr-1"></i> Profile</a>
                                        @*<a class="dropdown-item" href="#"><i class="bx bx-wallet font-size-16 align-middle mr-1"></i> My Wallet</a>*@
                                        <a class="dropdown-item d-block" href="~/Account/ChangePassword"><i class="bx bx-wrench font-size-16 align-middle mr-1"></i> ChangePassword</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger" href="#" data-toggle="modal" data-target="#myModelLogOut"><i class="bx bx-power-off font-size-16 align-middle mr-1 text-danger"></i> Logout</a>
                                    </div>
                                </div>
                            }


                        }



                    </div>
                }


            </div>
        </header>

        <div class="topnav">
            <div class="container-fluid">
                <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                    <div class="collapse navbar-collapse" id="topnav-menu-content">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">
                                    <i class="bx bx-home-circle mr-2"></i>Dashboard
                                </a>
                            </li>
                            @{Html.RenderPartial("_Menu");}

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">

                    @RenderBody()


                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            &copy; @DateTime.Now.Year ERP.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                Design & Develop by Suraj Kumar
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->


    <div id="myModelLogOut" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="myModalLabel">Ready to Leave?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p> Select "Logout" below if you are ready to end your current session.</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a class="btn btn-sm btn-primary" href="~/Account/LogOut">Log Out</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- JAVASCRIPT -->


    <script src="~/Content/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/Content/libs/simplebar/simplebar.min.js"></script>
    <script src="~/Content/libs/node-waves/waves.min.js"></script>
    <script src="~/Content/libs/select2/js/select2.min.js"></script>
    <script src="~/Content/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/libs/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/Content/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

    <script src="~/Content/js/pages/form-advanced.init.js"></script>
    <!-- Required datatable js -->
    <script src="~/Content/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/Content/js/pages/datatables.init.js"></script>
    <!-- Responsive examples -->
    <script src="~/Content/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/js/app.js"></script>


</body>
</html>