

@using ERP.Entity.Models.Extended
@model ResetPasswordModel
@{
    Layout = null;
}




@{
    ViewBag.Title = "RecoverPassword";
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Recover Password :: ERP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
    <!-- Bootstrap Css -->
    <link href="~/Content/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/Content/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/Content/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-soft-primary">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-primary p-4">
                                        <h5 class="text-primary"> Reset Password</h5>
                                        <p>Reset-Password with ERP</p>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img src="~/Content/images/profile-img.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div>
                                <a href="#">
                                    <div class="avatar-md profile-user-wid mb-4">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img src="~/Content/images/logo.svg" alt="" class="rounded-circle" height="34">
                                        </span>
                                    </div>
                                </a>
                            </div>

                            <div class="p-2">


                                @if (TempData["Success"] != null)
                                {
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <i class="mdi mdi-check-all mr-2"></i>
                                        @TempData["Success"]
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                }
                                else
                                {
                                    if (TempData["Error"] != null)
                                    {
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <i class="mdi mdi-block-helper mr-2"></i>
                                            @TempData["Error"]
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                    }

                                }
                                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                                {
                                    @Html.AntiForgeryToken()



                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                                    </div>

                                    @Html.HiddenFor(model => model.ResetCode)

                                    <div class="form-group row mb-0">
                                        <div class="col-12 text-right">
                                            <input type="submit" value="Change Password" class="btn btn-primary w-md waves-effect waves-light" />
                                        </div>
                                    </div>


                                }



                            </div>

                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <p>Remember It ? <a href="~/Account/Login" class="font-weight-medium text-primary"> Sign In here</a> </p>
                        <p>© @DateTime.Now.Year ERP. Crafted with <i class="mdi mdi-heart text-danger"></i> by Suraj Kumar</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

